<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration PUBLIC
	"-//Hibernate/Hibernate Configuration DTD 3.0//EN"
	"http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">

<hibernate-configuration>

	<session-factory>

		<property name="hibernate.dialect">org.hibernate.dialect.MySQL5Dialect</property>
		<property name="hibernate.connection.driver_class">com.mysql.cj.jdbc.Driver</property>
		<property name="hibernate.connection.url">jdbc:mysql://localhost:3306/hibernate</property>
		<property name="hibernate.connection.username">root</property>
		<property name="hibernate.connection.password">root</property>
		<property name="hbm2ddl.auto">update</property>
		<property name="show_sql">true</property>
		<property name="format_sql">true</property>
		<property name="cache.use_second_Level_cache">true</property>
		<property name="cache.region.factory_class">org.hibernate.cache.ehcache.internal.EhcacheRegionFactory</property>

		<!-- Below IS the Class Mapping Define -->

		<mapping class="in.co.Tables.Student" />
		<mapping class="in.co.Tables.Address" />
		<mapping class="in.co.OneToOne.Question" />
		<mapping class="in.co.OneToOne.Answer" />
		<mapping class="OneToManyorManyToOne.Question1" />
		<mapping class="OneToManyorManyToOne.Answer1" />
		<mapping class="in.co.ManyToMany.Employee" />
		<mapping class="in.co.ManyToMany.Project" />
		<mapping class="in.co.ObjectStates.Country" />
		<mapping resource="in/co/Utility/Person.hbm.xml" />


	</session-factory>

</hibernate-configuration>